/* 全局 */
* {
    box-sizing: border-box;
    overflow: hidden;

}

/* header 放合成圖標題區塊 */
header {
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
    padding: 5px;

}

/* container */
.container {
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 ng */
    height: calc(768px - 65px - 20px);
    /* background-color: lightyellow; */
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
}

/* 社團介紹的整個大區塊 */
.aside-header {
    width: 100%;
    /* flex-basis: 100px; */
    /* height: calc(100% - 25px); */
    /* flex-direction 主軸長度 item method */
    flex-basis: calc(100% - 25px);
    /* background-color: lightpink; */
    border: 1px solid black;
    border-right: 0;
    /* 以下針對"社團介紹"字體 */
    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #FF00FF;
}

/* 社團選單區塊 */
.menu {
    display: flex;
    /* 社團用flex呈現 */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* 吉他社盒子與社團介紹底線間的間隔 */
}

/* 每個社團自己的盒子 */
.menu-item {
    /* 社團名稱字體 */
    margin-top: 5px;
    /* 每個社團格子間的間隔 */
    background-color: lightblue;
    width: 200px;
    height: 35px;
    background-image: url('../images/menu1.png');
    border-radius: 20px;
    padding-top: 10px;
    /* 字在格子裡的高度 */
    font-size: 16px;
    color: black;

}

.menu-item:hover {
    background-image: url('../images/menu2.png');
}

#aside-title {
    border-bottom: 1px solid rgb(0, 0, 0);
    /* 社團介紹下的底線(用下框線假裝) */
    /* background-color: lightblue; */
    padding: 5px;
    /* 社團介紹與底線之間的距離 */
}

/* 最近更新日期 */
.aside-footer {
    width: 100%;
    flex-basis: 25px;
    /* background-color: lightblue; */
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    /* 以下針對字體 "最近更新日期..."*/
    font-size: 16px;
    font-family: '標楷體';
    color: #000;
    text-align: center;

    padding-top: 2px;
    /* 字離上面線的距離 */

}


/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine;     */
}

/* 跑馬燈區 */
.main-header {
    width: 100%;
    height: 29px;
    /* background-color: red; */
    border: 1px solid black;
    border-bottom: 0;
    font-size: 24px;
    font-family: '標楷體';
    color: #0000FF;
}

/* 主要網頁顯示內容 */
.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: cadetblue; */
    border: 1px solid black;
}

iframe {
    width: 100%;
    background-color: lightblue;
    height: 100%;
}

/* footer 網頁設計及維護：XX○○○ */
footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightcoral; */
    margin: auto;
    border: 1px solid black;
    border-top: 0;
    /* 以下針對文字 */
    font-family: '標楷體';
    color: #000;
    text-align: center;
    font-size: 16px;
}